{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Add Opportunity{% endblock %}
{% block body %}
<div class="container">
     <br/>
     {{ utils.flashed_messages() }}
     <br/>
	     <div class="center">
	             <h1>Edit Opportunity</h1>
     <br/>
     {{ wtf.quick_form(form)}}
     {{ 
     <button class="btn btn-outline-secondary" type="button" onclick="javascript:window.location='dashboard';">Cancel</button>
     }}
     </div>
</div>
{% endblock %}
