{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_list %}
        Add List
    {% else %}
    Edit List
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
	    <input type="hidden" name="region" value="{{ id }}">
	    <input type="hidden" name="listname" value="{{ listname }}">
            {% if add_list %}
                <h1>Add List</h1>
            {% else %}
	    <h1>Edit List: {{ listname }} </h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
